force-app/main/default/flows/Duplicate_Record_With_Same_Phone_No.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Phone_Number_Duplicate</name>
        <label>Phone Number Duplicate</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>Phone Number Duplicate</errorMessage>
            <fieldSelection>Phone__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>If_Phone_Number_Has_Record</name>
        <label>If Phone Number Has Record</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_Number_Has_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_If_Record_Exists_With_Phone_no</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Number_Duplicate</targetReference>
            </connector>
            <label>Phone Number Has Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Duplicate Record With Same Phone No {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicate Record With Same Phone No</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_If_Record_Exists_With_Phone_no</name>
        <label>Check If Record Exists With Phone no</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Phone_Number_Has_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Record_Exists_With_Phone_no</targetReference>
        </connector>
        <object>Customer__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
